---
apiVersion: kubeaddons.mesosphere.io/v1alpha1
kind: Addon
metadata:
  name: prometheusadapter
  namespace: kubeaddons
  labels:
    kubeaddons.mesosphere.io/name: prometheusadapter
spec:
  kubernetes:
    minSupportedVersion: v1.14.0
  chartReference:
    chart: stable/prometheus-adapter
    version: 1.1.0
    values: |
      ---
      prometheus:
        url: http://prometheus-kubeaddons-prom-prometheus
      metricsRelistInterval: 30s
      rules:
        resource:
          cpu:
            containerQuery: sum(rate(container_cpu_usage_seconds_total{<<.LabelMatchers>>}[1m])) by (<<.GroupBy>>)
            nodeQuery: sum(rate(container_cpu_usage_seconds_total{<<.LabelMatchers>>, id='/'}[1m])) by (<<.GroupBy>>)
            resources:
              overrides:
                instance:
                 resource: node
                namespace:
                 resource: namespace
                pod_name:
                 resource: pod
            containerLabel: container_name
          memory:
            containerQuery: sum(container_memory_working_set_bytes{<<.LabelMatchers>>}) by (<<.GroupBy>>)
            nodeQuery: sum(container_memory_working_set_bytes{<<.LabelMatchers>>,id='/'}) by (<<.GroupBy>>)
            resources:
              overrides:
                instance:
                 resource: node
                namespace:
                 resource: namespace
                pod_name:
                 resource: pod
            containerLabel: container_name
          window: 1m
