apiVersion: kubeaddons.mesosphere.io/v1alpha1
kind: Addon
metadata:
  name: traefik
  namespace: kubeaddons
  labels:
    kubeaddons.mesosphere.io/name: traefik
    kubeaddons.mesosphere.com/provides: ingresscontroller
  annotations:
    kubeaddons.mesosphere.io/appVersion: "1.68.4"
    endpoint.kubeaddons.mesosphere.io/traefik: "/ops/portal/traefik"
spec:
  kubernetes:
    minSupportedVersion: v1.14.0
  chartReference:
    chart: stable/traefik
    version: 1.68.4
    values: |
      ---
      replicas: 2
      service:
        labels:
          servicemonitor.kubeaddons.mesosphere.io/path: "metrics"
      metrics:
        prometheus:
          enabled: true
      resources:
        limits:
          cpu: 2000m
        requests:
          cpu: 1000m
      rbac:
        enabled: true
      metrics:
        prometheus:
          enabled: true
      dashboard:
        enabled: true
        domain: traefik.localhost.localdomain
        serviceType: ClusterIP
      kubernetes:
        ingressEndpoint:
          publishedService: "kubeaddons/traefik-kubeaddons"
      ssl:
        enabled: true
        enforced: true
        generateTLS: true
        # dex service is exposed with TLS certificate signed by self signed root
        # Dex CA certificate. It is not clear if traefik supports configuring
        # trusted certificates per backend. This should be investiaged in a
        # separate issue.
        # See: https://jira.mesosphere.com/browse/DCOS-56033
        insecureSkipVerify: true
        defaultCN: traefik.localhost.localdomain
        defaultSANList:
          - "*"
